.sidenav_container {
    min-width: 60px; 
    height: calc(100vh - 200px);
}

.list-item {
    color: #474747;
}

.list-item:hover {
    color: white;
    background-color: #474747;
}

.sidenav_btn {
    background: none;
    border: none;
    font: 400 13.3333px Arial;
}

.sidenav_btn:hover {
    color: white;
    background-color: #474747;
    border: solid 1px black;
    border-radius: 5px;
}