<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">

    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <div>
        <mat-nav-list>
            <a mat-list-item class='list-item' *ngFor="let page of pages" (click)="ButtonClick(page)">
                <mat-icon>{{ page?.icon }}</mat-icon>
                <span [@animateText]="linkText ? 'show' : 'hide'" style="padding-left:20px; font-weight: bold;">{{ page?.name }} </span>
            </a>
        </mat-nav-list>
        </div>
    </div>

    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
        <button mat-icon-button class="sidenav_btn" (click)="onSinenavToggle()">
            <mat-icon *ngIf="sideNavState">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="!sideNavState">keyboard_arrow_right</mat-icon>
        </button>
    </div>
    
</div>