.header {
    padding: 10px 20px 10px 10px;
    background: rgb(75, 109, 223);
    color: #fff;
}

.header_title {
    padding: 3px 0px 0px 16px; 
    position: absolute;
}

.icon {
    width: auto;
    height: auto;
}

.header_btn {
    background: none;
    border: none;
    font: 400 13.3333px Arial;
}

.header_btn:hover {
    color: white;
}