<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
    <button mat-icon-button class="header_btn" (click)="sidenav.toggle()">
        <mat-icon class="icon">menu</mat-icon>
    </button>

    <span class="header_title">App</span>
</div>