<div class="container">
    <form>
        <fieldset>
            <div class="form-group col-sm-12">
                <label for="volume">Volume máximo</label>
                <input type="string" class="form-control" (input)="atribuirVolume($event.target.value)" name="volume" id="volume" />
            </div>

            <div class="form-group col-sm-12">
                <label for="codigo">Código / Nome</label>
                <input type="string" class="form-control" (input)="atribuirCodigo($event.target.value)" name="codigo" id="codigo" />
            </div>

            <div class="form-group col-sm-12">
                <label for="produto">Produto</label>
                <input type="string" class="form-control" (input)="atribuirProduto($event.target.value)" name="produto" id="produto" />
            </div>

            <div class="form-group">
                <button class="btn-left btn btn-primary" (click)="salvar()">Salvar</button>
                <button class="btn-right btn btn-secondary" (click)="cancelar()">Cancelar</button>
            </div>
        </fieldset>    
    </form>                
</div>