<div class="container">
    <div class="form-group">
        <canvas id="line-chart1" width="500" height="150"></canvas>
    </div>
    <div class="form-group">
        <canvas id="line-chart2" width="500" height="150"></canvas>
    </div>              
</div>