@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    background: #ffffff;
}

* {
    -webkit-font-smoothing: antialased;
    -moz-osx-font-smoothing: antialased;
    font-family: 'Roboto', sans-serif;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    text-align: center;
    position: absolute;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

footer > span {
    font-size: smaller;
    margin-left: 5px;
}

footer > span > a:hover {
    cursor: pointer;
}

  