.app-card {
    overflow: hidden;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.app-card img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 100%;
    border-radius: 3px;
}

.options {
    position: absolute;
    top: 215px;
    right: 15px;
    margin-top: 5px;
    padding: 5px;
    font-size: large;
    float: right;
    color: darkgray;
    opacity: 0.6;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.options:hover {
    opacity: 1;
}

.app-card h4 {
    min-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
 