<div [class]="classes" style="display: inline-block;">
    <div class="thumbnail app-card">
        <div class="caption">
            <h4 class="text-center">
                {{ codigo }}
            </h4>
        </div>
        <div style="text-align: center;">
            <canvas #medidor width="90" height="120"></canvas>
        </div>
        <div class="caption">
            <h4 class="text-center">
                {{ volume }}
            </h4>
            <h4 class="text-center">
                {{ produto }}
            </h4>
        </div>
    </div>
</div>